.header .navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar-brand:hower {
  color:linear-gradient(90deg, rgba(59,88,109,1) 0%, rgba(118,224,225,1) 100%) !important;

}
.kanit-font {
    font-family: "Kanit";
    
}
.mulish-font{
    font-family: "Mulish";
}
.app-badge{
    height: 4rem;
}
.app-badge-2{
    height: 3rem;

}
.circle{
    content: ⨯;
    height: 400px;
    width: 400px;
    background:linear-gradient(90deg, rgba(59,88,109,1) 0%, rgba(118,224,225,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.img-phone{
    max-width: 60%;
}
.circle::before{
        content: "⨯";
        font-size: 50px;
        font-weight: bolder;
        position:absolute;
        left: -20px;
        bottom: 0;
        rotate: -20deg;
        color:radial-gradient(circle, rgba(59,88,109,1) 0%, rgba(174,251,250,1) 100%);

}
.circle::after {
    content: ".";
    font-size: 100px;
    font-weight: bold;
    position:absolute;
    right: -30px;
    top: -10px;
    rotate: 20deg;
    color:radial-gradient(circle, rgba(59,88,109,1) 0%, rgba(174,251,250,1) 100%);

  }
  .testimonial-container {
    background:linear-gradient(90deg, rgba(59,88,109,1) 0%, rgba(118,224,225,1) 100%);

  }
  

.featcircle {
  content: "";
  width: 300px;
  height: 300px;
  background:radial-gradient(circle, rgba(59,88,109,1) 0%, rgba(174,251,250,1) 100%);
  border-radius: 50%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

}

.phone{
  position: relative;
  bottom: 0px;
 right: 0px;
 left: 60px;
 top: 0px;
 height: 500px;


}

.featcircle::before {
    content: ".";
    font-size: 100px;
    font-weight: bold;
    position:absolute;
  left: -20px;
  bottom: 0;
  rotate: -20deg;
}
 .featcircle::after {
    content: "⨯";
    font-size: 50px;
    font-weight: bolder;
    position:absolute;
  right: -80px;
  top: -10px;
  rotate: 20deg;
  
}   

.icon-color{
    color: rgba(118,224,225,1);
}



.div-call{
    position: relative;
    width: 100%;
    height: 500px;
    
}
.call-bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/Loading_Screen_Geogantis.webp);
    background-size: cover;
    background-position: center;
}



.overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.308);
}

.call-align{
position:relative;
top: 7rem;
left: 7rem;

}

.div-app {
background:radial-gradient(circle, rgba(59,88,109,1) 0%, rgba(174,251,250,1) 100%);
}
.footer-container{

  background: rgba(0, 0, 0, 0.952);
}

.modal-header{
    background:radial-gradient(circle, rgba(59,88,109,1) 0%, rgba(174,251,250,1) 100%);
}
.modal-footer .btn{
  width: 100% !important;

}

@media (max-width: 768px) {
  .circle, .featcircle {
    
  display: none !important;
  }
}